@page "/ürünler/{slug}"

@using EgeGlutensiz_Frontend.Models
@*@inject NavigationManager navigationManager*@
@inject HttpClient Http

<PageTitle>Ege Glutensiz | @ChangeSlugApperance()</PageTitle>

<nav class="flex w-92 ml-4 mt-8 md:md:ml-8 md:mt-20 mb-8" aria-label="breadcrumb">
    <ul class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a href="/" class="inline-flex items-center text-sm font-medium text-black hover:underline focus:ring-4 focus:outline-none focus:ring-blue-500">
                <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                <NavLink href="/" Match="NavLinkMatch.All">Ev</NavLink>
            </a>
        </li>
        <li>
            <div class="flex items-center focus:ring-4 focus:outline-none focus:ring-blue-500">
                <svg aria-hidden="true" class="w-6 h-6 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-medium text-black md:ml-2 hover:underline"><NavLink href="/ürünler" Match="NavLinkMatch.All">Ürünler</NavLink></span>
            </div>
        </li>
        <li aria-current="page">
            <div class="flex items-center focus:ring-4 focus:outline-none focus:ring-blue-500">
                <svg aria-hidden="true" class="w-6 h-6 text-black" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-bold text-black md:ml-2">@ChangeSlugApperance()</span>
            </div>
        </li>
    </ul>
</nav>

<section class="mb-40 lg:mb-10 w-[90%] lg:w-full max-w-[1000px] mx-auto">
    @if (productPageModel?.title != null)
    {
        <h1 class="text-4xl lg:text-5xl font-extrabold text-center mt-8 md:mt-3 mb-4">@productPageModel.productRegion.title.value</h1>
    }

    <div class="p-4 md:flex md:justify-content gap-6">
        <div class="md:w-1/2 flex justify-center items-center">
            @if (productPageModel != null)
            {
                <picture>
                    <source type="image/webp" srcset="@ImageUrl">
                    <img src="@ImageUrl" alt="" class="h-[400px] mb-8 lg:mb-0 lg:h-[450px] flex justify-center items-center" />
                </picture>
            }
        </div>
        <div class="md:w-1/2 md:mt-12">
            <h2 class="text-xl font-bold mb-1.5">Açıklama</h2>
            <p class="mb-6">
                @productPageModel?.productRegion?.description1.value
            </p>
            <h2 class="text-xl font-bold mb-1.5">İçindekiler</h2>
            <p class="mb-7">@productPageModel?.productRegion?.ingredients.value</p>

            <!-- Nutritional table -->
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 sm:px-6 lg:px-8">
                    <div class="inline-block min-w-full overflow-hidden rounded-lg">
                        <table class="min-w-full text-left text-sm font-light">
                            <thead class="border-b font-medium bg-[#d7c0a6]">
                                <tr>
                                    <th scope="col" class="px-4 py-2">Enerji ve Besin Öğeleri</th>
                                    <th scope="col" class="px-4 py-2 text-end">(100 gr. 'da)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (productPageModel.productRegion.energy.value != null)
                                {
                                    <tr class="border-b hover:bg-gray-100">
                                        <td class="px-4 py-2">Enerji (Kj/Kcal)</td>
                                        @if (productPageModel != null)
                                        {
                                            <td class="px-4 py-2 text-end">@productPageModel.productRegion.energy.value</td>
                                        }
                                    </tr>
                                }

                                @if (productPageModel.productRegion.fat.value != null)
                                {
                                    <tr class="border-b hover:bg-gray-100">
                                        <td class="px-4 py-2">Yağ (g)</td>
                                        @if (productPageModel != null)
                                        {
                                            <td class="px-4 py-2 text-end">@productPageModel.productRegion.fat.value</td>
                                        }

                                    </tr>
                                }

                                @if (productPageModel.productRegion.saturatedFat.value != null)
                                {
                                    <tr class="border-b hover:bg-gray-100">
                                        <td class="px-4 py-2">Doymuş yağ (g)</td>
                                        @if (productPageModel != null)
                                        {
                                            <td class="px-4 py-2 text-end">@productPageModel.productRegion.saturatedFat.value</td>
                                        }
                                    </tr>
                                }

                                @if (productPageModel.productRegion.carbohydrates.value != null)
                                {
                                    <tr class="border-b hover:bg-gray-100">
                                        <td class="px-4 py-2">Karbonhidrat (g)</td>
                                        @if (productPageModel != null)
                                        {
                                            <td class="px-4 py-2 text-end">@productPageModel.productRegion.carbohydrates.value</td>
                                        }
                                    </tr>
                                }
                                @if (productPageModel.productRegion.protein.value != null)
                                {
                                    <tr class="border-b hover:bg-gray-100">
                                        <td class="px-4 py-2">Protein (g)</td>
                                        @if (productPageModel != null)
                                        {
                                            <td class="px-4 py-2 text-end">@productPageModel.productRegion.protein.value</td>
                                        }
                                    </tr>
                                }

                                @if (productPageModel.productRegion.fibers.value != null)
                                {
                                    <tr class="border-b hover:bg-gray-100">
                                        <td class="px-4 py-2">Diyet Lifi (g)</td>
                                        @if (productPageModel != null)
                                        {
                                            <td class="px-4 py-2 text-end">@productPageModel.productRegion.fibers.value</td>
                                        }
                                    </tr>
                                }

                                @if (productPageModel.productRegion.sugar.value != null)
                                {
                                    <tr class="border-b hover:bg-gray-100">
                                        <td class="px-4 py-2">Şekerler (g)</td>
                                        @if (productPageModel != null)
                                        {
                                            <td class="px-4 py-2 text-end">@productPageModel.productRegion.sugar.value</td>
                                        }
                                    </tr>
                                }

                                @if (productPageModel.productRegion.salt.value != null)
                                {
                                    <tr class="border-b hover:bg-gray-100">
                                        <td class="px-4 py-2">Tuz(g)</td>
                                        @if (productPageModel != null)
                                        {
                                            <td class="px-4 py-2 text-end">@productPageModel.productRegion.salt.value</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    // Skapa en property för att kunna spara sluggen
    [Parameter]
    public string slug { get; set; }

    ProductPageModel.Root productPageModel;

    public string ImageUrl;

    public async Task<ProductPageModel.Root> GetPage()
    {
        var baseUrl = "http://localhost:20990/api/page";
        var url = $"{baseUrl}/{slug}";

        var productPage = await Http.GetFromJsonAsync<ProductPageModel.Root>(url);

        return productPage;
    }

    // Texten ändrades inte för att det är en SPA 
    protected override async Task OnParametersSetAsync()
    {
        productPageModel = await GetPage();
        ImageUrl = GetImgUrl();

    }

    protected override async Task OnInitializedAsync()
    {
        productPageModel = await GetPage();
        ImageUrl = GetImgUrl();
    }

    // Base URL
    string baseUrl = "http://localhost:20990/";

    public string GetImgUrl()
    {
        var cleanUrl = productPageModel.productRegion.productImage.media.publicUrl.Replace("~", "");
        return $"{baseUrl}{cleanUrl}";
    }

    // 
    public string ChangeSlugApperance()
    {
        slug = slug.Replace("-", " ");

        if (slug.Length > 1)
        {
            return char.ToUpper(slug[0]) + slug.Substring(1);
        }

        return slug;
    }
}   